<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <appSettings>
    <add key="THEME_FOLDER_NAME" value="skin"/>
    <add key="PROJECT_FOLDER_NAME" value="project"/>
    <add key="DATA_FOLDER_NAME" value="copperlichtdata"/>
    <add key="NVL_FOLDER_NAME" value="nvl"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
</configuration>
